Package: nopasswd
Version: 1.0.1
Maintainer: Anson Mansfield <anson.mansfield@gmail.com>
Architecture: all
Description: Creates a nopasswd group that can run sudo without entering their password.
Section: admin
Priority: extra
Depends: sudo
